<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trajet</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>

<body>

<div th:replace="fragments/topnav :: navbar"></div>

<div class="container mt-5 pt-5" th:object="${ride}">

    <h1>Trajet</h1>

    <div>Départ :
        <span th:text="${ride.getStartingPoint()}">Starting point</span>
        Le
        <span th:text="${#dates.format(ride.getArrivalDate(), 'dd/MM/yyyy')}">Departure date</span>
    </div>
    <div>Arrivée :
        <span th:text="${ride.getDestination()}">Destination</span>
        Le
        <span th:text="${#dates.format(ride.getArrivalDate(), 'dd/MM/yyyy')}">Arrival date</span>
    </div>

    <div>Description :
        <span th:text="${ride.getDescription()}">Description</span>
    </div>

    <div>Créateur :
        <span th:text="${ride.getCreator().getPseudo()}">Créateur :</span>
    </div>

    <div>Caractéristiques maximumes:
        <ul>
            <li>Longueur : <span th:text="${ride.getLength()}"></span></li>
            <li>Largeur : <span th:text="${ride.getWidth()}"></span></li>
            <li>Hauteur : <span th:text="${ride.getHeight()}"></span></li>
            <li>Poids : <span th:text="${ride.getWeight()}"></span></li>
        </ul>
    </div>

    <div>Prix au kilogramme par mètre cube :
        <span th:text="${ride.getPrice()}"> </span>
    </div>

</div>
</body>
</html>