<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des trajets</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>

<body>

<div th:replace="fragments/topnav :: navbar"></div>

<div class="container mt-5 pt-5">

    <h1>Liste des trajets</h1>

    <div th:if="${ridesList.isEmpty()}">
        <div> Aucun trajet disponible.</div>
    </div>

    <ul class="list-group">
        <li class="list-group-item" th:each="ride : ${ridesList}">
            <form th:action="@{/ride/details/} + ${ride.getId()}" method="get">
                <div>Départ :
                    <span th:text="${ride.getStartingPoint()}">Starting point</span>
                    Le
                    <span th:text="${#dates.format(ride.getArrivalDate(), 'dd/MM/yyyy')}">Departure date</span>
                </div>
                <div>Arrivée :
                    <span th:text="${ride.getDestination()}">Destination</span>
                    Le
                    <span th:text="${#dates.format(ride.getArrivalDate(), 'dd/MM/yyyy')}">Arrival date</span>
                </div>

                <div>Description :
                    <span th:text="${ride.getDescription()}">Description</span>
                </div>

                <div>
                    <input type="submit" class="btn btn-primary" value="Détails"/>
                </div>
            </form>
        </li>
    </ul>

</div>
</body>
</html>